/* Mobile layout */
@media (max-width: 375px) {
    body {
        font-size: 14px; 
    }
}

/* Desktop layout */
@media (min-width: 1440px) {
    body {
        font-size: 18px; 
    }
}

:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --primary-color: hsl(47, 88%, 63%);
}

.card {
    max-width: 368px;
    margin: 40px auto;
    padding: 16px;
    background-color: var(--white);
    box-shadow: 10px 10px 0px rgba(0, 0, 0);
    border-radius: 10px;
    text-align: left; 
    border: 1px solid var(--black);
}

body {
    color: var(--black);   
    font-family: Figtree, sans-serif; 
    background-color: var(--primary-color); 
    font-size: 16px;
    font-weight: 500; 
    text-align: left;
    padding: 0 20px;
}

strong {
    font-weight: 800;
}

.logo {
    display: flex; 
    align-items: center; 
    font-weight: 800;
}

.logo img {
    width: 30px;
    height: auto;
    margin-right: 10px; 
}

.card h5 {
    color: var(--grey);
    margin: 20px 0; /* Adjust margin */
    padding: 0; /* Remove padding */
    font-weight: 600;
}

.card h4 {
    background-color: var(--primary-color); 
    padding: 5px 10px; 
    border-radius: 5px;
    display: inline-block;
    margin: 10px 0; /* Adjust margin */
}

.card p {
    margin: 5px 0; /* Adjust margin */
    padding: 0; /* Remove padding */
}

.card h2 {
    margin: 20px 0; /* Adjust margin */
    padding: 0; /* Remove padding */
}

.card h2:hover {
    color: var(--primary-color);
    animation-delay: 100ms;
}



.svg {
    width: 100%;
    margin: 0 0 20px;
    border-radius: 15px; 
    overflow: hidden; 
}
